streamlit
python-dotenv
pandas
docx2txt
openai
chromadb
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-chroma
pysqlite3-binary; platform_system != "Windows"
pypdf